@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .aligning {
    @apply mx-auto max-w-6xl px-2 sm:px-8;
  }
}

#root {
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-neutral opacity-50;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-primary opacity-100;
}
